.scroll-down {
  position: absolute;
  z-index: 1;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%) scale(0.84);
  mix-blend-mode: hard-light;

  img {
    width: 60px;
    height: 139px;
  }

  span {
    text-transform: uppercase;
    font-size: $ft-s-xxsmall;
    line-height: rem(14px);
    letter-spacing: 0.24em;
    transform: rotate(90deg);
    display: block;
    position: absolute;
    color: $color-text-green;
    top: 48px;
    left: -8px;
  }
}
