@import 'reset';
@import 'normalize';
@import 'transitions';
@import '../vars/index';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $color-text;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: $ale;
  font-weight: 400;
  font-size: $ft-s-small;
  position: relative;

  > * {
    z-index: 1;
  }
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}
