@import 'reset';
@import 'normalize';
@import 'transitions';
@import '../vars/index';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $color-text-green;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: $ale;
  font-weight: 400;
  font-size: $ft-s-small;
  position: relative;
  width: 100%;
  height: $vh;

  @media #{$mq-medium} {
    height: 100vh;
  }

  @media (orientation: landscape) {
    height: 100vh;
  }

  > * {
    z-index: 1;
  }

  &::after {
    content: '';
    z-index: 99;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/images/texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: multiply;
  }

  .app {
    position: relative;
    width: 100%;
    height: $vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}
