.no-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vw;

  & > * {
    z-index: 1;
  }

  p {
    text-align: center;
    text-transform: uppercase;
    font-size: $ft-s-large;
    padding: 0 4vw;
  }

  img {
    display: inline-block;
    width: 32vw;
    height: auto;
  }

  video {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    opacity: 0.32;
  }
}
