.scene-text {
  position: absolute;
  z-index: 2;
  opacity: 0;

  &:is(h2) {
    width: calc(100vw - 32px);
    margin-left: 32px;
    padding: 0 12px;
    font-family: $playfair;
    font-size: $ft-s-large;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  &:is(div) {
    width: calc(100vw - 32px);
    margin-left: 32px;
    padding-right: 48px;
    font-family: $playfair;
    font-size: $ft-s-small;
    left: 50%;
    top: 58%;
    transform: translateX(-50%);

    p {
      text-align: center;
      margin-bottom: rem(16px);
      line-height: rem(25px);
    }
  }
}
