.subtitle {
  position: fixed;
  top: 16px;
  left: 32px;

  p {
    font-size: $ft-s-xsmall;
    font-weight: 400;
    line-height: rem(19px);
    text-transform: uppercase;
    position: relative;
    padding-left: rem(8px);
    top: -4px;

    strong {
      font-weight: 700;
    }

    &:last-of-type {
      top: -44.5vh;
      left: -100vw;
      width: 100vh;
      height: 100vw;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: bottom left;

      padding-left: rem(8px);

      &::after {
        top: 4px;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      width: 1px;
      height: $ft-s-xsmall;
      background-color: $color-text-green;
    }
  }
}
