.background {
  --img-count: 1;

  width: 100vw;
  height: $vh;
  position: fixed;
  display: flex;
  z-index: -1;
  // transition: all ease-in-out 1.2s;

  &.--blurred {
    filter: blur(4px);
  }

  &.--right-bottom {
    top: 32px;
    left: 32px;
  }

  &.--left-top {
    top: -32px;
    left: -32px;
  }

  video,
  img {
    display: inline-block;
    width: calc(100% / var(--img-count));
    height: 100%;
    object-fit: cover;
  }
}
