.scene-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  .lang-buttons {
    position: absolute;
    top: 24vh;
    left: 54%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -20%);
      width: 1px;
      height: 24px;
      background-color: $color-text-green;
    }

    button {
      text-transform: uppercase;
      color: $color-text;
      font-size: $ft-s-xsmall;
      background: rgba(250, 246, 243, 0.24);
      mix-blend-mode: hard-light;
      border: 1px solid #315f09;
      margin-bottom: rem(24px);
      width: 50vw;
      padding: rem(6px) rem(12px);
    }
  }
}
