.scene-wish {
  width: calc(100vw - 32px);
  height: calc(100vh - 64px);
  right: 0;
  top: 32px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > div {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      color: $color-text;
      font-weight: 500;
      font-size: $ft-s-small;
      line-height: rem(24px);
      text-align: center;
      padding: rem(5px) rem(10px);
      background: rgba(250, 246, 243, 0.24);
      mix-blend-mode: hard-light;
      border: 1px solid $color-text-green;
      text-transform: uppercase;
    }

    input {
      resize: none;
      width: 72vw;
      margin-top: rem(24px);
      margin-bottom: rem(48px);
      border: none;
      padding: rem(8px);
      font-size: $ft-s-small;
      color: $color-text-green;
      font-family: $playfair;
      background-color: transparentize($color-bg, 0.48);
      outline: none;

      &:first-of-type {
        font-size: $ft-s-xsmall;
      }
    }

    .ck {
      --bg: rgba(254, 248, 250, 0.48);
      --ck-color-base-background: var(--bg);
      --ck-color-toolbar-background: var(--bg);
      --ck-color-background: var(--bg);

      &.ck-editor {
        width: 72vw;
        margin-top: 24px;
      }

      .ck-toolbar__items {
        position: relative;
        top: 32px;
      }

      .ck-toolbar_grouping {
        & > .ck-toolbar__separator {
          top: 0;
        }
      }

      .ck-toolbar__separator {
        position: relative;
        top: -32px;
      }

      .ck-button_with-text.ck-dropdown__button svg {
        top: 0;
        left: 0;
      }

      .ck-dropdown__button svg {
        position: relative;
        top: 36px;
        left: -9px;
      }

      .ck-editor__editable {
        height: 18vh;
        & > * {
          font-size: $ft-s-xsmall;
          color: $color-text-green;
          font-family: $playfair;
          text-transform: none;
          text-align: left;
          border: none;
          mix-blend-mode: normal;

          &:is(p) {
            padding: 0;
          }

          &:not(p) {
            padding: 0.3125rem 0.625rem;
            font-size: $ft-s-small;
          }
        }
      }
    }
  }

  .error {
    position: absolute;
    text-transform: lowercase;
    background: transparentize($color-bg, 0.48);
    width: 100%;
    text-align: center;
    padding: 4px;
    letter-spacing: 0.032rem;
    animation: fade 0.5s ease-in-out;

    @keyframes fade {
      0% {
        opacity: 0;
        transform: translateY(-32px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  button {
    position: fixed;
    display: inline-block;
    bottom: 32px;
    left: 8px;
    transform: scale(0.84);

    span {
      display: inline-block;
      position: relative;
      top: -24px;
      background-color: $color-cta-bg;
      color: $color-white;
      font-weight: 900;
      font-size: $ft-s-xsmall;
      line-height: rem(17px);
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: rem(6px) rem(10px);

      &.skip {
        padding: rem(6px) rem(24px);
        background: rgba(112, 177, 161, 0.35);
        border: 1px solid #70b1a1;
        transform: translateY(15px);
        font-size: $ft-s-xxsmall;
      }
    }
  }
}

.--vn {
  .scene-wish {
    & > div {
      textarea {
        width: 100%;
      }
    }
  }
}
