.scene-loader {
  --progress: 0%;
  --progress-decimal: 0;

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: $color-bg;
  display: flex;
  justify-content: center;
  align-items: center;

  & > *:not(.subtitle),
  &::before,
  &::after {
    filter: grayscale(1);
  }

  .overlay {
    top: 32px;
    left: 32px;
    filter: blur(32px);
    height: calc(100% - var(--progress));
    backdrop-filter: blur(calc((var(--progress-decimal)) * 3.2px));
    transition: all ease-in-out 1.2s;
  }

  .subtitle {
    filter: saturate(4.8);
  }

  .frame {
    top: 48px;
    left: 48px;

    &::before {
      height: 100vh;
    }

    &__menu {
      display: none;
    }
  }
}
