@font-face {
  font-family: 'Didot';
  src: url(/public/fonts/Didot.otf) format('opentype');
}

@font-face {
  font-family: 'Didot Bold';
  src: url(/public/fonts/DidotBold.otf) format('opentype');
}

$ale: 'Alegreya Sans SC', sans serif;
$didot: 'Didot', serif;
$didot-b: 'Didot Bold', serif;
