$color-text: #467167;
$color-text-green: #315f09;
$color-white: #faf6f3;
$color-bg: #fef8fa;
$color-cta-bg: #70b1a1;

$ft-s-xxsmall: 0.75rem; // 12px
$ft-s-xsmall: 1rem; // 16px
$ft-s-small: 1.25rem; // 20px
$ft-s-medium: 1.5rem; // 24px
$ft-s-large: 2rem; // 32px
$ft-s-xlarge: 3rem; // 48px
